// Load mobile variables
@device: mobile;

// Load mixin
.Reset();
.Row();
.List();
.Features();
.Cards();
.Site();

/*====================
* GRID
*====================*/
.row-inline-block, .row-flexbox{
	&:not(.mobile){
		display: block!important;
		
		// Cannot use gutter in mobile device
		margin-right: 0!important;
		> div {
			display: block!important;
			padding-right: 0!important;
			width: auto;
		}
	}
}