.cards{
	&.with-card-shadow{
		.card{
			.box-shadow(2px 2px 10px 0px #bbb);
		}
	}
}

.block-header{
	text-align: center;
}

.list.list-dot{
	.List > .setFa("\f111");	// circle
	> li{		
		&:before{
			font-size: 7px;
			top: 0.8rem;
		}
	}
}

.list.list-check{
	.List > .setFa("\f00c");	// Check
	> li:before{
		font-size: 18px;
		top: 3px;
	}
}